/***********************************************
This applies from 0px to 767px
***********************************************/
.columns                                        { margin:0; padding:0; list-style:none; display:flex; align-items:stretch; flex-direction:row; flex-wrap:wrap; flex-flow:row wrap; align-content:flex-end; }
.column                                         { margin:0; padding:20px 0; border-top:1px solid #E5E5E5; }
.column:first-child                             { border-top-color:transparent; }
.column p:last-child                            { margin:0; }

.bottom-border                                  { border-bottom:1px solid #E5E5E5; }
.borderless li                                  { border-color:transparent; }

.columns-2-mobile .column                       { padding:20px; max-width:50%; border-right:1px solid #E5E5E5; }
.columns-2-mobile .column:nth-child(-n+2)       { border-top-color:transparent; }
.columns-2-mobile .column:nth-child(2n+1)       { padding-left:0; }
.columns-2-mobile .column:nth-child(2n+2)       { padding-right:0; border-right-color:transparent; }

/***********************************************
This applies from 768px onwards
***********************************************/
@media (min-width: 768px) {
  .column                                       { padding:20px 2%; border-right:1px solid #E5E5E5; }
}

/***********************************************
This applies from 768px onwards
***********************************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .columns-2-tablet .column                     { max-width:50%; }
  .columns-2-tablet .column:nth-child(-n+2)     { border-top-color:transparent; }
  .columns-2-tablet .column:nth-child(2n+1)     { padding-left:0; }
  .columns-2-tablet .column:nth-child(2n+2)     { padding-right:0; border-right-color:transparent; }

  .columns-3-tablet .column                     { width:34.666%; }
  .columns-3-tablet .column:nth-child(3n+1)     { padding-left:0; }
  .columns-3-tablet .column:nth-child(3n+3)     { padding-right:0; border-right-color:transparent; }
  .columns-3-tablet .column:nth-child(-n+3)     { border-top-color:transparent; }
  .columns-3-tablet .column:nth-child(3n+1),
  .columns-3-tablet .column:nth-child(3n+3)     { width:32.666%; }

  .columns-4-tablet .column                     { width:26%; }
  .columns-4-tablet .column:nth-child(4n+1)     { padding-left:0; }
  .columns-4-tablet .column:nth-child(4n+4)     { padding-right:0; border-right-color:transparent; }
  .columns-4-tablet .column:nth-child(-n+4)     { border-top-color:transparent; }
  .columns-4-tablet .column:nth-child(4n+1),
  .columns-4-tablet .column:nth-child(4n+4)     { width:24%; }

  .columns-5-tablet .column                     { width:20.777%; }
  .columns-5-tablet .column:nth-child(5n+1)     { padding-left:0; }
  .columns-5-tablet .column:nth-child(5n+5)     { padding-right:0; border-right-color:transparent; }
  .columns-5-tablet .column:nth-child(-n+5)     { border-top-color:transparent; }
  .columns-5-tablet .column:nth-child(5n+1),
  .columns-5-tablet .column:nth-child(5n+5)     { width:18.777%; }

  .columns-6-tablet .column                     { width:17.333%; }
  .columns-6-tablet .column:nth-child(6n+1)     { padding-left:0; }
  .columns-6-tablet .column:nth-child(6n+6)     { padding-right:0; border-right-color:transparent; }
  .columns-6-tablet .column:nth-child(-n+6)     { border-top-color:transparent; }
  .columns-6-tablet .column:nth-child(6n+1),
  .columns-6-tablet .column:nth-child(6n+6)     { width:15.333%; }
}

/***********************************************
This applies from 992px onwards
***********************************************/
@media (min-width: 992px) {
  .columns-2-desktop .column                    { max-width:50%; }
  .columns-2-desktop .column:nth-child(-n+2)    { border-top-color:transparent; }
  .columns-2-desktop .column:nth-child(2n+1)    { padding-left:0; }
  .columns-2-desktop .column:nth-child(2n+2)    { padding-right:0; border-right-color:transparent; }

  .columns-3-desktop .column                    { width:34.666%; }
  .columns-3-desktop .column:nth-child(3n+1)    { padding-left:0; }
  .columns-3-desktop .column:nth-child(3n+3)    { padding-right:0; border-right-color:transparent; }
  .columns-3-desktop .column:nth-child(-n+3)    { border-top-color:transparent; }
  .columns-3-desktop .column:nth-child(3n+1),
  .columns-3-desktop .column:nth-child(3n+3)    { width:32.666%; }

  .columns-4-desktop .column                    { width:26%; }
  .columns-4-desktop .column:nth-child(4n+1)    { padding-left:0; }
  .columns-4-desktop .column:nth-child(4n+4)    { padding-right:0; border-right-color:transparent; }
  .columns-4-desktop .column:nth-child(-n+4)    { border-top-color:transparent; }
  .columns-4-desktop .column:nth-child(4n+1),
  .columns-4-desktop .column:nth-child(4n+4)    { width:24%; }

  .columns-5-desktop .column                    { width:20.777%; }
  .columns-5-desktop .column:nth-child(5n+1)    { padding-left:0; }
  .columns-5-desktop .column:nth-child(5n+5)    { padding-right:0; border-right-color:transparent; }
  .columns-5-desktop .column:nth-child(-n+5)    { border-top-color:transparent; }
  .columns-5-desktop .column:nth-child(5n+1),
  .columns-5-desktop .column:nth-child(5n+5)    { width:18.777%; }

  .columns-6-desktop .column                    { width:17.333%; }
  .columns-6-desktop .column:nth-child(6n+1)    { padding-left:0; }
  .columns-6-desktop .column:nth-child(6n+6)    { padding-right:0; border-right-color:transparent; }
  .columns-6-desktop .column:nth-child(-n+6)    { border-top-color:transparent; }
  .columns-6-desktop .column:nth-child(6n+1),
  .columns-6-desktop .column:nth-child(6n+6)    { width:15.333%; }
}
