@mixin columns($device, $num, $width, $nwidth) {
  .columns-#{$num}-#{$device} .column                             { width:percentage($width/100); }
  .columns-#{$num}-#{$device} .column:nth-child(#{$num}n+1)       { padding-left:0; }
  .columns-#{$num}-#{$device} .column:nth-child(#{$num}n+#{$num}) { padding-right:0; border-right-color:transparent; }
  .columns-#{$num}-#{$device} .column:nth-child(-n+#{$num})       { border-top-color:transparent; }
  .columns-#{$num}-#{$device} .column:nth-child(#{$num}n+1),
  .columns-#{$num}-#{$device} .column:nth-child(#{$num}n+#{$num}) { width:percentage($nwidth/100); }
}
@mixin columns-max($device, $num, $mwidth) {
  .columns-#{$num}-#{$device} .column                             { width:percentage($mwidth/100); }
  .columns-#{$num}-#{$device} .column:nth-child(-n+#{$num})       { border-top-color:transparent; }
  .columns-#{$num}-#{$device} .column:nth-child(#{$num}n+1)       { padding-left:0; }
  .columns-#{$num}-#{$device} .column:nth-child(#{$num}n+#{$num}) { padding-right:0; border-right-color:transparent; }
}
/***********************************************
This applies from 0px to 767px
***********************************************/
.columns                                        { margin:0 0 30px; padding:0; list-style:none; display:flex; align-items:stretch; flex-direction:row; flex-wrap:wrap; flex-flow:row wrap; align-content:flex-end; }
.column                                         { margin:0; padding:20px 0; border-top:1px solid #E5E5E5; width:100%; }
.column:first-child                             { border-top-color:transparent; }
.column p:last-child                            { margin:0; }

.bottom-border                                  { border-bottom:1px solid #E5E5E5; }
.borderless li                                  { border-color:transparent; }

/***********************************************
This applies from 768px onwards
***********************************************/
@media (min-width: 768px) {
  .column                                       { padding:20px 2%; border-right:1px solid #E5E5E5; }
}

/***********************************************
This applies from 768px onwards
***********************************************/
@media only screen and (max-width:767px) {
  .columns-2-mobile .column                     { padding:20px; width:50%; border-right:1px solid #E5E5E5; }
  .columns-2-mobile .column:nth-child(-n+2)     { border-top-color:transparent; }
  .columns-2-mobile .column:nth-child(2n+1)     { padding-left:0; }
  .columns-2-mobile .column:nth-child(2n+2)     { padding-right:0; border-right-color:transparent; }
}

/***********************************************
This applies from 768px onwards
***********************************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .columns-1-tablet .column                     { padding:20px 0; border-right-color:transparent; }

  @include columns-max(tablet, 2, 50);
  @include columns(tablet, 3, 34.666, 32.666);
  @include columns(tablet, 4, 26, 24);
  @include columns(tablet, 5, 20.777, 18.777);
  @include columns(tablet, 6, 17.333, 15.333);
}

/***********************************************
This applies from 992px onwards
***********************************************/
@media (min-width: 992px) {
  .columns-1-desktop .column                     { padding:20px 0; border-right-color:transparent; }
  @include columns-max(desktop, 2, 50);
  @include columns(desktop, 3, 34.666, 32.666);
  @include columns(desktop, 4, 26, 24);
  @include columns(desktop, 5, 20.777, 18.777);
  @include columns(desktop, 6, 17.333, 15.333);
}
