/***********************************************
Example use only - Delete when done..!
***********************************************/
body                                            { margin:20px 0; }
.grid-highlight                                 { margin-bottom:5px; }
.grid-highlight [class^="grid_"]                { line-height:30px; text-align:center; background-color:#F1F1F1; }



/***********************************************
Screen 1200px+
***********************************************/
.example                                        {  }



/***********************************************
Screen Smaller than 1199px
***********************************************/
@media only screen and (min-width:960px) and (max-width: 1199px) {

.example                                        {  }



}

/***********************************************
Tablet (Smaller than 959px)
***********************************************/
@media only screen and (min-width:768px) and (max-width: 959px) {

.example                                        {  }



}

/***********************************************
Mobile (portrait 300px)
***********************************************/
@media only screen and (max-width:767px) {

.example                                        {  }



}

/***********************************************
Mobile (landscape 420px)
***********************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {

.example                                        {  }



}
