/***********************************************
Demo
***********************************************/
.section                                        { padding:60px 0; }

.demo-grid                                              { margin:30px 0; }
.demo-grid .row                                         { margin-bottom:10px; }
.demo-grid .row:last-child                              { margin-bottom:0; }
.demo-grid [class^="grid-"]                             { padding:6px; text-align:center; font-size:12px; background-color:#EEE; border-radius:3px; }
.demo-grid.nested [class^="grid-"]                      { padding:10px 0; text-align:center; }
.demo-grid.nested [class^="grid-"] [class^="grid-"]     { padding:10px; background-color:#DDD; color:#AAA; }



/***********************************************
Screen 1200px+
***********************************************/
.example                                        {  }



/***********************************************
Screen Smaller than 1199px
***********************************************/
@media only screen and (min-width:960px) and (max-width: 1199px) {

.example                                        {  }



}

/***********************************************
Tablet (Smaller than 959px)
***********************************************/
@media only screen and (min-width:768px) and (max-width: 959px) {

.example                                        {  }



}

/***********************************************
Mobile (portrait 300px)
***********************************************/
@media only screen and (max-width:767px) {

.example                                        {  }



}

/***********************************************
Mobile (landscape 420px)
***********************************************/
@media only screen and (min-width: 480px) and (max-width: 767px) {

.example                                        {  }



}
