div.amazium .pp_left,
div.amazium .pp_middle,
div.amazium .pp_right,
div.amazium .pp_content								{ background:#000; }

div.amazium .pp_description							{ color:#fff; margin:0 85px 0 0; }
div.amazium .pp_loaderIcon							{ background:url(../images/loader.gif) center center no-repeat; }
div.amazium .pp_expand								{ background:url(../images/sprite.png) -31px -26px no-repeat;cursor:pointer; }
div.amazium .pp_expand:hover						{ background:url(../images/sprite.png) -31px -47px no-repeat;cursor:pointer; }
div.amazium .pp_contract							{ background:url(../images/sprite.png) 0 -26px no-repeat;cursor:pointer; }
div.amazium .pp_contract:hover						{ background:url(../images/sprite.png) 0 -47px no-repeat;cursor:pointer; }
div.amazium .pp_close								{ width:35px;height:36px;background:url(../images/close.png) 0 0 no-repeat;cursor:pointer; right:-22px; top:-325px; z-index:80; }
div.amazium .pp_nav									{ clear:none; }
div.amazium .pp_nav .pp_play						{ background:url(../images/sprite.png) -1px -100px no-repeat;height:15px;width:14px; }
div.amazium .pp_nav .pp_pause						{ background:url(../images/sprite.png) -24px -100px no-repeat;height:15px;width:14px; }
div.amazium .pp_arrow_previous						{ background:url(../images/sprite.png) 0 -71px no-repeat; }
div.amazium .pp_arrow_next							{ background:url(../images/sprite.png) -22px -71px no-repeat; }
div.amazium .pp_next:hover							{ background:url(../images/btnNext.png) center right no-repeat;cursor:pointer; }
div.amazium .pp_previous:hover						{ background:url(../images/btnPrevious.png) center left no-repeat;cursor:pointer; }
div.pp_pic_holder a:focus							{ outline:none; }
div.pp_overlay										{ background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500; }
div.pp_pic_holder									{ display:none;position:absolute;width:100px;z-index:10000; }
.pp_content											{ height:40px;min-width:40px; }
* html .pp_content									{ width:40px; }
.pp_content_container								{ position:relative;text-align:left;width:100%; }
.pp_content_container .pp_left						{ padding-left:10px; }
.pp_content_container .pp_right						{ padding-right:10px; }
.pp_content_container .pp_details					{ float:left;margin:10px 0 2px; }
.pp_description										{ display:none;margin:0; }
.pp_click-here										{ float:right; margin:0; color:#FFF; }
.pp_click-here a.lnk								{ padding:0 14px 0 0; color:#FFF; font-size:14px; background:transparent url("../images/icon-arrow.png") no-repeat top right; text-decoration:none; }
.pp_click-here a:hover.lnk 							{ text-decoration:underline; }
.pp_nav												{ clear:right;float:left;margin:3px 10px 0 0; }
.pp_nav p											{ float:left;white-space:nowrap;margin:2px 4px; }

.pp_nav .pp_play,
.pp_nav .pp_pause									{ float:left;margin-right:4px;text-indent:-10000px; }

a.pp_arrow_previous,
a.pp_arrow_next										{ display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px; }
.pp_hoverContainer									{ position:absolute;top:0;width:100%;z-index:2000; }
.pp_gallery											{ display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000; }
.pp_gallery div										{ float:left;overflow:hidden;position:relative; }
.pp_gallery ul										{ float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0; }
.pp_gallery ul a									{ border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden; }
.pp_gallery ul a img								{ border:0; }
.pp_gallery li										{ display:block;float:left;margin:0 5px 0 0;padding:0; }
.pp_gallery li.default a							{ background:url(../images/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px; }
.pp_gallery .pp_arrow_previous,
.pp_gallery .pp_arrow_next							{ margin-top:7px!important; }

a.pp_next											{ background:url(../images/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%; }
a.pp_previous										{ background:url(../images/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%; }

a.pp_expand,
a.pp_contract										{ cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000; }

a.pp_close											{ position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px; }
.pp_loaderIcon										{ display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px; }
#pp_full_res										{ line-height:1!important; }
#pp_full_res .pp_inline								{ text-align:left; }
#pp_full_res .pp_inline p							{ margin:0 0 15px; }
div.ppt												{ color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px; }
div.amazium .pp_details								{ position:relative; }
div.amazium .pp_gallery a.pp_arrow_previous,
div.amazium .pp_gallery a.pp_arrow_next				{ margin-top:12px!important; }
div.amazium .pp_arrow_previous.disabled				{ background-position:0 -87px;cursor:default; }
div.amazium .pp_arrow_next.disabled					{ background-position:-22px -87px;cursor:default; }
div.amazium .currentTextHolder						{ color:#c4c4c4; }
div.amazium #pp_full_res .pp_inline					{ color:#fff; }
.pp_top,
.pp_bottom											{ height:10px;position:relative; }
* html .pp_top,
* html .pp_bottom									{ padding:0 10px; }
.pp_top .pp_left,
.pp_bottom .pp_left									{ height:10px;left:0;position:absolute;width:10px; }
.pp_top .pp_middle,
.pp_bottom .pp_middle								{ height:10px;left:10px;position:absolute;right:10px; }
* html .pp_top .pp_middle,
* html .pp_bottom .pp_middle						{ left:0;position:static; }
.pp_top .pp_right,
.pp_bottom .pp_right								{ height:10px;left:auto;position:absolute;right:0;top:0;width:10px; }
.pp_fade,
.pp_gallery li.default a img						{ display:none; }
